sample/*.jpg filter=lfs diff=lfs merge=lfs -text
output/**/*.jpg filter=lfs diff=lfs merge=lfs -text
output/**/*.png filter=lfs diff=lfs merge=lfs -text

data/**/*.png filter=lfs diff=lfs merge=lfs -text
data/**/*.jpg filter=lfs diff=lfs merge=lfs -text
